# Установка кодировки
AddDefaultCharset utf-8

# Запрет листинга директории
Options -Indexes

RewriteEngine on 
 
#RewriteCond %{SERVER_PORT} !^443$ 
#RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R,L]

# Редирект с поддоменов
#RewriteCond %{HTTP_HOST} ^domain.ru
#RewriteRule (.*) http://domain.ru/$1 [R=301,L]

# Настройки ЧПУ
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?action=$1 [L,QSA]
